.title-name {
  font-size: 35px;
  font-family: Pridi;
  color: #ffffff;
}
.title-box {
  background-color: #3d82cf;
  padding: 10px 0;
  text-align: center;
}
.about-section {
  padding: 40px;
  background: #f5f5f5;
}
.about-wrapper {
  display: flex;
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

/* Left side Menu*/
.about-menu {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-menu button {
  text-align: left;
  padding: 12px 16px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  border-left: 3px solid transparent;
}

.about-menu button.active {
  color: #1a73e8;
  border-bottom: 3px solid #1a73e8;
  font-weight: 600;
}

/* Right side content */
.about-content {
  flex: 1;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
}
.about-content h2 {
  margin-bottom: 15px;
  font-family: Pridi;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
}
.about-content p {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  font-family: Pridi;
}

.tab-content {
  display: none;
  animation: fade 0.3s ease;
}
.tab-content.active {
  display: block;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .about-wrapper {
    flex-direction: column;
  }
  .about-menu {
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px;
    padding-bottom: 10px;
  }
  .about-content h2 {
    font-size: 22px;
  }
  .about-content p {
    font-size: 14px;
  }
  .about-menu::-webkit-scrollbar {
    height: 4px;
  }
  .about-menu button {
    flex: 0 0 auto;
    border-left: none;
    border-bottom: 2px solid transparent;
  }

  .about-menu button.active {
    border-bottom: 2px solid #1a73e8;
  }
}
.select-options {
  transform: translateY(-100%);
}

.custom-select.open .select-options {
  transform: translateY(-123%);
}
