.title-name {
  font-size: 35px;
  font-family: Pridi;
  color: #ffffff;
}
.title-box {
  background-color: #3d82cf;
  padding: 10px 0;
  text-align: center;
}

.blog {
  padding: 30px 10px;
}
.select-options {
  transform: translateY(-100%);
}

.custom-select.open .select-options {
  transform: translateY(-123%);
}
