body {
  background: #f5f5f5;
  font-family: initial;
}

.title-name {
  font-size: 35px;
  font-family: Pridi;
  color: #ffffff;
}
.title-box {
  background-color: #3d82cf;
  padding: 10px 0;
  text-align: center;
}

.donation-section {
  padding: 30px 10px;
}

.select-options {
  transform: translateY(-100%);
}

.custom-select.open .select-options {
  transform: translateY(-123%);
}

.donation-wrapper {
  max-width: 1100px;
  margin: 20px auto;
  display: flex;
  gap: 25px;
  align-items: start;
}

.donation-left,
.donation-right {
  border-radius: 6px;
}

.donation-left {
  flex: 1.3;
}

.donation-right {
  padding: 20px 20px 52px 20px;
  background-color: #ffffff;
  flex: 1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.donation-right h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: rgba(38, 38, 38, 1);
}

.donation-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.8px;
  color: rgba(84, 84, 84, 1);
  margin-bottom: 15px;
}

/* Video Section */
.video-card {
  margin-bottom: 20px;
}

.video-card iframe {
  border-radius: 6px;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.video-box {
  position: relative;
}

.video-box img {
  width: 100%;
  border-radius: 6px;
}

.info-box,
.list-box {
  background: #fff;
  padding: 25px 30px 70px 30px;
  border-radius: 6px;
  margin: 15px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.info-box p {
  font-family: Ubuntu;
  font-style: Regular;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: rgba(61, 130, 207, 1);
  font-weight: 400;
}

.list-box .list-title {
  color: rgba(61, 130, 207, 1);
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 600;
}

/* custom list style */
.custom-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.custom-list::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 10px;
  bottom: 20px;
  width: 2px;
  background-color: #d1d1d1;
  z-index: 0;
}

.custom-list li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #444;
  line-height: 1.2;
}

.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 8px;
  height: 8px;
  border: 2px solid #003366;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}

.custom-list li a {
  color: #4a7ab5;
  text-decoration: none;
}

.list-box li {
  margin-bottom: 8px;
  color: rgba(84, 84, 84, 1);
}

/* Payment Option Section */
.payment-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 12px 0;
  border-radius: 6px;
  background: #fff;
  max-width: 720px;
  font-family: Arial, sans-serif;
}

.payment-text {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.payment-number {
  font-weight: 600;
}

.payment-text small {
  font-size: 12px;
  color: #777;
}

.payment-methods {
  display: flex;
  align-items: start;
  gap: 2px;
}

.payment-methods img:first-child,
.more-option {
  width: 50px;
  height: 28px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #ddd;
}

.more-option {
  border: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
}

/* amount section */
.donation-title-amount {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: rgba(51, 51, 51, 1);
  margin-top: 15px;
  font-weight: 500;
}

.amount-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 15px 0;
}

.amount-box button {
  padding: 10px;
  border: 1px solid rgba(217, 217, 217, 1);
  background: transparent;
  cursor: pointer;
  color: rgba(84, 84, 84, 1);
  border-radius: 5px;
}

.amount-box button:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.amount-box button.active {
  background: #3b82c4;
  color: #fff;
}

.input-group-donation {
  margin-bottom: 15px;
}

.input-group-donation input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.frequency {
  display: flex;
  gap: 15px;
  margin: 10px 0;
  flex-direction: column;
}

.frequency-input {
  display: flex;
  gap: 12px;
  width: 100%;
}

.freq-option {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #f5f5f5;
  transition: all 0.2s ease;
  width: 100%;
}

.freq-option input:checked + span,
.freq-option:has(input:checked) {
  background: rgba(224, 239, 255, 1);
  color: rgba(79, 79, 79, 1);
}

.frequency small {
  font-size: 12px;
  color: #828282;
  text-align: center;
}

.donate-btn {
  width: 100%;
  padding: 12px;
  background: #3b82c4;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 10px;
}

@media (max-width: 1228px) {
  .donation-right {
    padding: 20px 20px 40px 20px;
  }
  .list-box li {
    font-size: 16px;
  }
}

@media (max-width: 1023px) {
  .payment-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .video-card iframe {
    height: 250px;
  }
  .donation-description {
    font-size: 14px;
  }
  .list-box li {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .donation-wrapper {
    flex-direction: column;
    margin: 20px;
  }
  .payment-section {
    flex-direction: row;
  }
}

@media (max-width: 570px) {
  .video-card iframe {
    height: 200px;
  }
  .payment-section {
    flex-direction: column;
  }
}
