body {
  background-color: #f5f5f5;
}
.title-name {
  font-size: 35px;
  font-family: Pridi;
  color: #ffffff;
}
.title-box {
  background-color: #3d82cf;
  padding: 10px 0;
  text-align: center;
}
.media {
  padding: 30px 10px;
}

.media .media-box {
  background-color: #3d82cf;
  border-radius: 10px;
  padding: 60px 0;
}

.media .media-box .media-title {
  font-size: 60px;
  color: #ffffff;
  font-family: Pridi;
  text-align: center;
}

.media .media-box .media-description {
  font-size: 24px;
  color: #ffffff;
  font-family: Pridi;
  text-align: center;
}

/* input section */
.input-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
  padding: 15px;
  margin: 50px 0;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.input-row input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

/* media card */
.media-card-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  max-width: 1164px;
  margin-left: auto;
  margin-right: auto;
}

.media-card {
  background: white;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  overflow: hidden;
  width: 338px;
}

.media-image {
  height: 248px;
  overflow: hidden;
}

.media-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media-content {
  padding: 18px 30px;
}

.media-content h3 {
  font-size: 26px;
  font-weight: 500;
  font-family: Pridi;
  color: #000000;
  margin: 15px 0;
  line-height: 30px;
}

.media-category1 {
  font-family: Pridi;
  color: #ca0700;
  font-weight: 400;
  font-size: 20px;
}

.media-category2 {
  font-family: Pridi;
  color: #00983f;
  font-weight: 400;
  font-size: 20px;
}

.media-category3 {
  font-family: Pridi;
  color: #9234e9;
  font-weight: 400;
  font-size: 20px;
}
.media-category4 {
  font-family: Pridi;
  color: #f4a00a;
  font-weight: 400;
  font-size: 20px;
}

.media-report {
  font-family: Pridi;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  line-height: 20px;
}
.publish-date {
  color: #707070;
  padding: 10px 0;
  font-size: 14px;
  font-family: Pridi;
}
.publish-date span {
  color: #000000;
  font-weight: 500;
}

.select-options {
  transform: translateY(-100%);
}

.custom-select.open .select-options {
  transform: translateY(-123%);
}

@media (min-width: 1248px) {
  .media-card-parent {
    display: grid;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    gap: 20px;
  }
  .media-card {
    width: auto;
  }
  .media-content h3 {
    font-size: 23px;
  }
}

@media (min-width: 1023px) and (max-width: 1247px) {
  .media-card-parent {
    display: grid;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    gap: 30px;
  }

  .media-card {
    width: 300px;
  }

  .media-content {
    padding: 18px 10px;
  }
}

@media (max-width: 767px) {
  .media .media-box {
    padding: 40px 10px;
  }

  .media .media-box .media-title {
    font-size: 40px;
  }

  .media .media-box .media-description {
    font-size: 16px;
  }

  .input-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin: 50px 10px;
  }
  .input-row input {
    width: 100%;
  }
}
