* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pridi", sans-serif;
}

button:focus,
input:focus,
textarea:focus,
select:focus,
a:focus {
  outline: none;
  box-shadow: none;
}
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible,
a:focus-visible {
  outline: 2px solid transparent;
}

body {
  line-height: 1.6;
  color: #262626;
  background-color: #ffffff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

/* Hero Section */
.hero {
  background-color: #f5f5f5;
  padding:25px 0;
}

.hero-content {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
}

.donation-form-container {
  text-align: center;
  margin-top: 25px;
  font-family: system-ui, sans-serif;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
}

.donation-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form-field {
  position: relative;
}

/* custom select */
.custom-select {
  position: relative;
  font-size: 14px;
}
.select-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Pridi;
  width: 200px;
  height: 48px;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 18px;
  outline: none;
  background: #fff;
  font-weight: 400;
  letter-spacing: 0%;
  color: #363636;
  cursor: pointer;
}

.select-trigger svg {
  margin-left: 5px;
  margin-top: 3px;
  transition: 0.3s ease;
}

.select-options {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
  max-height: 240px;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.25s ease;
  z-index: 999;
  text-align: start;
}

.custom-select.open .select-options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.select-options li {
  padding: 12px 16px;
  cursor: pointer;
}

.select-options li:hover {
  background: #f3f3f3;
}

.form-field input,
.form-field select {
  width: 200px;
  height: 48px;
  padding: 10px 40px 10px 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 18px;
  outline: none;
  background: #fff;
  font-family: Pridi;
  font-weight: 400;
  letter-spacing: 0%;
  color: #363636;
}

.form-field-items {
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 200px;
  height: 48px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  position: relative;
}

.form-field-items input {
  border: none;
  width: 180px;
  height: 100%;
  padding: 10px 14px;
  font-size: 18px;
  outline: none;
  background: #fff;
  font-family: Pridi;
  font-weight: 400;
  letter-spacing: 0%;
  color: #363636;
}

.form-field-items button {
  position: absolute;
  right: 12px;
  top: 9px;
  width: 18px;
  height: 18px;
  color: #6b7280;
  font-size: 18px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.form-field input::placeholder {
  font-size: 18px;
  outline: none;
  background: #fff;
  font-family: Pridi;
  font-weight: 400;
  letter-spacing: 0%;
  color: #363636;
}

.form-field select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%239CA3AF' stroke-width='2' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 14px center;
}

/*Info Icon Phone / Email */
.form-field.icon::after {
  content: "i";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #9ca3af;
  color: #6b7280;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Donate Button */
.btn-donate {
  background: #3d82cf;
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  width: 166px;
  height: 40px;
  font-size: 18px;
  font-family: Pridi;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.25);
}

.btn-donate:hover {
  opacity: 0.9;
}

/* Bottom note */
.donation-note {
  margin-top: 15px;
  font-size: 16px;
  color: #545454;
}

.donation-note a {
  color: #2563eb;
  text-decoration: underline;
}

/* Hero Slider */

.hero-slider {
  width: 100%;
  height: 496px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin-top: 25px;
}

.hero-track {
  display: flex;
  height: 100%;
  transition: 0.5s ease;
}

.hero-slide {
  min-width: 100%;
  height: 100%;
  cursor: grab;
}

.hero-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  user-select: none;
  pointer-events: none;
}

/* Buttons */
.hero-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 21px;
  padding: 5px 14px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.prev {
  left: 15px;
}
.next {
  right: 15px;
}

.hero-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.hero-dots span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #aaa;
  cursor: pointer;
}

.hero-dots .active {
  background: rgb(99, 89, 89);
}

/* About Section */
.about {
  background-color: white;
  padding: 110px 0;
}

.about-content {
  display: flex;
  justify-content: start;
  gap: 45px;
  align-items: flex-start;
}

.about-image {
  flex: 1;
  max-width: 472px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-top-right-radius: 55%;
  border-top-left-radius: 55%;
  border: 1px solid #e8e8e8;
  padding: 2px;
  object-fit: cover;
  padding: 10px 10px 20px 10px;
}

.about-text {
  flex: 1;
  max-width: 651px;
}

.about-text h2 {
  font-size: 24px;
  font-weight: 700;
  color: #3d82cf;
  margin-bottom: 26px;
  line-height: 0.83;
}

.separator {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #bbbbbb 3px, #bbbbbb 1px, #bbbbbb 1px);
  margin-bottom: 26px;
}

.about-text p {
  font-size: 22px;
  font-weight: 400;
  color: #545454;
  line-height: 1.18;
  margin-bottom: 20px;
}

/* Donation Funds Section */
.donation-funds {
  background-color: #f5f5f5;
  padding: 35px 0;
}

.donation-funds h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #262626;
  margin-bottom: 30px;
  line-height: 1.2;
}

.funds-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

/* Tablet Screen*/
@media (min-width: 768px) {
  .funds-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop Screen*/
@media (min-width: 1024px) {
  .funds-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.fund-card {
  background: white;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.fund-image {
  height: 248px;
  overflow: hidden;
}

.fund-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fund-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 15px;
  padding: 25px;
  text-align: center;
}

.fund-content h3 {
  font-size: 26px;
  font-weight: 700;
  color: #3d82cf;
  margin-bottom: 15px;
  line-height: 1.08;
}

.fund-content p {
  font-size: 14px;
  font-weight: 400;
  color: #262626;
  line-height: 1.25;
  margin-bottom: 15px;
  max-width: 289px;
  margin-left: auto;
  margin-right: auto;
}

.funds-grid .fund-card:nth-child(6) h3 {
  font-size: 20px;
}
.funds-grid .fund-card:nth-child(6) p {
  font-size: 15px;
}

.btn-donate-now {
  background-color: #3d82cf;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 0;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  text-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.12);
}

.btn-more {
  text-align: center;
  font-style: Regular;
  font-family: Pridi;
  background-color: #3d82cf;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
  width: 318px;
  height: 45px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  text-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.12);
  display: block;
  margin: 35px auto;
}

/* Ongoing Projects Section */
.ongoing-projects {
  background-color: white;
  padding: 35px 0;
}

.ongoing-projects h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #262626;
  margin-bottom: 30px;
  line-height: 1.2;
}

.projects-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  max-width: 1164px;
  margin-left: auto;
  margin-right: auto;
}

.project-card {
  background: white;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  overflow: hidden;
  width: 338px;
}

.project-image {
  height: 248px;
  overflow: hidden;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-content {
  padding: 18px 25px;
}

.project-content h3 {
  font-size: 24px;
  font-weight: 700;
  color: #3d82cf;
  margin: 15px 0;
  line-height: 1.2;
  text-align: center;
}

.project-content p {
  font-family: Pridi;
  font-size: 16px;
  font-weight: 400;
  color: #262626;
  line-height: 22px;
  text-align: center;
}

/* Blog Section */
.blog {
  background-color: #f5f5f5;
  padding: 35px 0;
}

.blog h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #262626;
  margin-bottom: 30px;
  line-height: 1.2;
}

.blog-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  max-width: 1164px;
  margin-left: auto;
  margin-right: auto;
}

.blog-card {
  background: white;
  border-radius: 6px;
  overflow: hidden;
  width: 338px;
}

.blog-image {
  height: 254px;
  overflow: hidden;
}

.blog-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-content {
  padding: 10px;
}

.blog-date {
  font-size: 12px;
  font-weight: 400;
  color: #262626;
  margin-bottom: 8px;
  line-height: 1.2;
}

.blog-content h3 {
  font-size: 18px;
  font-weight: 400;
  color: #262626;
  line-height: 1.2;
}

/* Events Section */

.events {
  background-color: white;
  padding: 35px 0;
}

.events h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #262626;
  margin-bottom: 30px;
  line-height: 1.2;
  padding-bottom: 30px;
}

.events-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 30px;
  max-width: 1164px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.event-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  width: 340px;
  flex-direction: column;
}

.big-card {
  transform: scale(1.1);
}

.event-image {
  order: 2;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

.event-content {
  order: 1;
  padding: 30px;
  position: relative;
  z-index: 1;
  color: white;
}

.event-content h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 33px;
  line-height: 1.28;
  text-align: center;
}

.event-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 33px;
  text-align: center;
}

.btn-see-more {
  background-color: #3d82cf;
  color: white;
  border: none;
  border-radius: 4px;
  width: 118px;
  height: 37px;
  font-family: Pridi;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  text-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.12);
  display: block;
  margin: 0 auto;
}

/* Video Section */
.video {
  background-color: #f5f5f5;
  padding: 35px 0;
}

.video h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #262626;
  margin-bottom: 30px;
  line-height: 1.2;
}

.video-grid {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 10px;
  margin-bottom: 50px;
}

.video-card {
  text-align: center;
}

.video-card iframe {
  border-radius: 6px;
  width: 368px;
  height: 207px;
  object-fit: cover;
}

.video-card h4 {
  font-size: 16px;
  font-weight: 400;
  color: #262626;
  line-height: 1.2;
  text-align: center;
}

/* Gallery Section */
.gallery {
  background-color: white;
  padding: 35px 140px;
}

.gallery h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #262626;
  margin-bottom: 30px;
  line-height: 1.2;
}

.gallery-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(268px, 1fr));
  gap: 30px;
  margin-bottom: 30px;
  max-width: 1177px;
  margin-left: auto;
  margin-right: auto;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  border-radius: 5px;
  width: 100%;
  height: 179px;
  object-fit: cover;
}

.gallery-item:nth-child(5),
.gallery-item:nth-child(6),
.gallery-item:nth-child(7),
.gallery-item:nth-child(8) {
  height: 201px;
}

.gallery-item:nth-child(5) img,
.gallery-item:nth-child(6) img,
.gallery-item:nth-child(7) img,
.gallery-item:nth-child(8) img {
  height: 201px;
}

/* Global Presence Section */
.global-presence {
  background-color: #f5f5f5;
}

.global-presence h2 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #262626;
  margin-bottom: 10px;
  padding: 30px 0;
  line-height: 1.2;
}

.map-container {
  margin-bottom: 45px;
}

.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map img:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease-in-out;
}

/* Offices Section */
.offices-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 51px;
  padding-bottom: 30px;
  padding: 60px 0;
  flex-direction: column;
}

.offices-row {
  flex-direction: column;
}

/* .office-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
} */

.office-group{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  height: 200px;
  margin-bottom: 20px;
}

.office-card {
  text-align: center;
  width: 368px;
  background: white;
  height: 100%;
  padding: 10px;
}

.office-card h3 {
  font-size: 28px;
  font-weight: 400;
  color: #093471;
  margin-bottom: 15px;
  line-height: 1.2;
}

.office-card p {
  font-size: 16px;
  font-weight: 400;
  color: #212529;
  line-height: 1.5;
}

.registered-office {
  grid-column: 1 / -1;
}

.live-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chat-button {
  background: linear-gradient(
    152deg,
    rgba(72, 147, 230, 1) 0%,
    rgba(61, 130, 207, 1) 100%
  );
  border-radius: 4px;
  padding: 6px 21px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  box-shadow: 14px 10px 25px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 20px;
  font-weight: 400;
}
