.title-name{
    font-size: 35px;
    font-family: Pridi;
    color: #ffffff;
}
.title-box{
    background-color: #3D82CF;
    padding: 10px 0;
    text-align: center;
}


.select-options {
   transform: translateY(-100%);
 }

.custom-select.open .select-options {
  transform: translateY(-123%);
}


.form-wrapper{
  max-width: 900px;
  margin: auto;
  padding: 30px 10px;
}

.volunteer-form{
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  margin: 30px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.column h3{
  margin: 30px 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 20.8px;
  font-family: Pridi;

}

.required-sign{
    color: #ff0000;
}

label{
  display: block;
  margin-top: 10px;
  font-family: Pridi;
  font-style: Regular;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

}

input,
textarea{
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-field-items input{
  height: 90%;
}
.radio-group{
  display: flex;
  gap: 15px;
}

.radio-group label{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.input-box{
    padding: 5px 0;
}

.input-horizontal{
    margin-top: 30px;
    border: 1px solid #ccbcbc;
    background-color: #ccbcbc;
}

.terms{
  margin-top: 15px;
  font-size: 13px;
}

.terms label{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    color: #ff0000;
}
.terms label input{
    width: auto;
}

.volunteer-btn{
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #1e88e5;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.volunteer-btn:hover{
  background: #1565c0;
}

/* Responsive */
@media (max-width: 767px){
  .form-grid{
    grid-template-columns: 1fr;
  }

  .terms label{
    font-size: small;
  }
}
